---
layout: default
---

<div class="home">
  <h1 class="tagline">
  JSJS is an experimental, statically typed, functional programming language, built for the web.
  </h1>
  <h2>Documentation</h2>
  <ul class="post-list">
        {% for my_page in site.pages %}
          {% if my_page.title %}
      <li>
          <h3>
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </h3>
      </li>
          {% endif %}
        {% endfor %}
  </ul>

</div>
